doctype html
html 
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 #{title}
            .form-wrapper 
                form(method="POST")
                    label(for="name") Name
                    input(type="text" name="name" required)
                    label(for="car_type") Car Type
                    input(type="text" name="car_type" required)
                    label(for="color") Color
                    input(type="text" name="color" required)
                    input(type="submit" value="submit")
            a(href='/') Return to the homepage